* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    position: relative;
}

button {
    font-size: 1.5rem;
    line-height: 1rem;
    background: inherit;
    color: inherit;
    margin: 3px;
    border: 0;
    cursor: pointer;
    /* width: 20vw; */
    /* height: auto; */
}

button {
    border: 0;
    background-color: #777;
    color: #fff;
}

.box-2{
    margin: 0px auto;
    width: 100%;
    height: auto;
    /* padding: auto 1rem; */
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

.card-body>.inner {
    position: relative;
}
.desk-list>a.active{
    background-color: var(--text-teal);
    color: var(--text-white);
  }

.display>a{
    font-size: 1.2rem;
    color: var(--teal-white);
    text-decoration: none;
}

.display.active {
    color: var(--text-teal);
}

.login-panel {
    background-color: var(--text-dark);
    color: var(--text-white);
    text-align: center;
    z-index: -2;
    padding: 1rem 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.inputpanel {
    height: 100%;
    color: white;
    display: flex;
    margin: 10px;
}

/* @media (min-width: 641px){ */
@media (min-width: 377px) {
    body {
        background-color: #777;
    }

    button {
        width: 100%;
        height: auto;
    }

    .border-bottom{
        display: none;
    }
    .bio h1 {
        color: var(--text-white);
    }

    .card-body {
        width: auto;
        margin: 5vh auto;
    }

    .fa-bars{
        color: var(--text-white) !important;
      }

    .desk-list>a {
        color: var(--text-white);
        border: 1px solid var(--text-white);
    }

    .numbers {
        display: grid;
        grid-template-columns: repeat(3, calc(70%/3));
        grid-auto-rows: max-content;
        gap: 3px 15px;
    }

    .inputpanel {
        height: 100%;
        background-color: var(--text-white);
        color: white;
        padding: 10px 10%;
        margin: auto 10px;
        position: relative;
    }

    .inner {
        position: relative;
        width: calc(100% - 100px);
        margin: 4rem auto;
    }

    .login-panel {
        text-align: center;
        font-size: 2rem;
        height: 10vh;
        width: auto;
        z-index: 3;
        position: relative;
        padding: 0.8rem 0px;
        margin: auto 10px;
    }
}

@media (min-width: 768px){
    
    
    .card-body {
        width: auto;
        margin: 2vh 20%;
    }
}
