@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=PT+Serif:ital@1&display=swap');
:root {
  --text-teal: #008080;
  --text-white: #ffffff;
  --text-dark: #2e2e2e;
  --teal-dark: #054646;
  --box-shadow: 1px 2px 10px 0px rgb(202, 202, 202);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif
}

body{
max-width: 100%;
margin: 0px;
padding: 0px;
position: relative;
}

html{
  padding: 0px !important;
  margin: 0px;
}

a{
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: var(--text-teal);
}

footer.container-fluid{
  /* width: 100vw; */
  height: 6rem;
  padding: 16px auto;
  position: sticky;
  bottom: 0;
  color: var(--text-white);
}

footer>p{
  padding: 10px 0px;
}

footer a{
  color: var(--text-white);
  text-decoration: none;
  margin: auto 15px;
  font-size: 1.5rem;
}

.address>i{
margin-right: 10px;
}

.bio{
  text-align: center;
}

.bio>img {
  height: auto;
  max-width: 100%;
  margin-top: 6rem;
  margin-left: -1rem;
}

.bio>h1 {
  text-align: center;
  color: var(--text-teal);
}

.bg-teal {
  background-color: #008080 !important;
}

.box-2{
  background-color: var(--text-white);
  max-width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 4.5rem 5px 10px 0;
  box-shadow: 3px 5px 15px 0px rgb(184, 184, 184);
  height: 500px;  /*to be modified constantly*/
}

.border-bottom{
  border: none;
  background-color: teal;
  width: 100%;
  padding: 2px 0px;
}

.btn{
  border: none;
  padding: 10px;
  margin: 10px auto;
  transition:  background-color 0.2s;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}

.btn-teal{
  background-color: var(--text-teal);
  color: var(--text-white);
}

.btn-outline{
  border: 1px solid var(--text-teal);
  box-shadow: var(--box-shadow);
}

.btn-outline-teal {
  background-color: var(--text-white);
  color: var(--text-teal);
}

.btn-outline-teal:hover{
  background-color: var(--text-teal);
  color: var(--text-white);
  cursor: pointer;
}

.container{
  animation: fadeIn 2s;
}

.contact{
  max-width: 100vw;
}

.content-paragraph {
  line-height: 1.3;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

.col-sm {
  flex: 0 0 auto;
  width: 100%;
}

.col-12 {
  width: 100%;
}

.d-flex{
display: flex;
}

.desk-list{
  display: inline-block;
}

.desk-list>a{
  text-decoration: none;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid var(--text-teal);
  cursor: pointer;
  color: var(--text-teal);
}

.desk-list>a.active{
  background-color: var(--text-teal);
  color: var(--text-white);
}

.desktop{
  display: none;
}

.justify-content-between{
  justify-content: space-between;
}

.education-level{
  display: grid;
  grid-template-columns: 20% 80%;
  column-gap: 10px;
  font-size: 1.2rem;
  align-items: center;
font-family: "Roboto", Arial, sans-serif;
color: var(--teal-dark);
padding: 10px 0px;
line-height: 1.1;
}

.e-icon{
font-size: 2rem;
width: 60px;
height: 60px;
border: none;
border-radius: 30px;
background-color: var(--text-teal);
margin: 0px;
text-align: center;
color: var(--text-white);
align-self: center;
}

.e-title{
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--text-dark);
}

.e-year{
display: inline-block;
font-size: 0.8rem;
font-weight: light;
border-radius: 5px;
background-color: var(--text-teal);
padding: 5px;
color: var(--text-white);
}

.fa-bars{
  font-size: 3rem;
}

i.icon{
  padding-left: 1rem;
}

.ilabel{
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  letter-spacing: 1px;
}

.mobile{
  position: relative;
}

.mobile:hover .menu-list>a{
  display: block;
}

.menu-list{
  transition: display 0.3s;
  display: flex;
  flex-direction: column;
  background-color: var(--text-teal) !important;
position: absolute;
top: 100%;
right: 0%;
z-index: 9999;
}

.menu-list>a{
  display: none;
  padding-left: 0px;
text-decoration: none;
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--text-white);
  cursor: pointer;
  color: var(--text-white);
  transition: background-color 0.3s;
  transition: color 0.3s;
  transition-delay: background-color 0.1s;
}


.menu-list>a:hover{
  background-color: var(--text-white);
  color: var(--text-teal);
}

.menu-list>a.active{
  background-color: orange;
  color: var(--text-white);
}

.mt-3{
  margin-top: 1rem;
}

.my-2{
margin: 15px auto;
}

.mygoal {
  background-color: var(--text-white);
  width: fit-content;
  text-align: center;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 4.5rem 0 10px 0;
  box-shadow: 3px 5px 15px 0px rgb(184, 184, 184);
}

.nav-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
 
}

.progress{
  margin-top: 10px;
  width: 100%;
  height: 8px;
  background-color: #d3e1e5;
  border-radius: 15px;
}

.pagestart{
  margin: 0px;
  padding: 0px 10px;
  max-width: 100%;
  position: relative;
}

.progress-bar {
  background-color: teal;
  height: 8px;
  border-radius: 15px 0 0 15px;
}

.pl-1{
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.pos-rel{
  position: relative;
}

.pos-rel>.beforestyled::before{
  content: "";
  /* position: absolute; */
  /* left: 0px;*/
  /* bottom: 0px; */
  /* text-align: center; */
  background-color: white;
  border: 1px solid;
  z-index: -1;
  height: 0px;
  width: 33px;
}

.scroll-to-top {
  position: absolute;
  right: 0;
  bottom: 1%;
  margin-right: 15px;
}

.slabel{
  margin-top: 10px;
  padding: 10px 0px;
  width: 100%;
  outline: none;font-size: 14px;
  border: 1px solid rgb(206, 206, 206);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  color: var(--teal-dark);
}

.skill-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-dark);
}

.text-center{
  text-align: center;
}

.text-teal {
  color: #008080;
}

.textarea{
  height: 15vh;
  color: var(--text-teal);
  resize: none;
}

textarea[placeholder]{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.user-input {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.user-input .itext {
  padding: 10px 0px;
  width: 100%;
  outline: none;font-size: 14px;
  border: 1px solid rgb(206, 206, 206);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  color: var(--teal-dark);
}

.user-input .itext:focus {
  border-radius: 10px;
  border: 2px solid var(--text-teal);
}

.user-input .flabel {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 10px;
  transition: 0.2s ease all;
}

.user-input input:focus~.flabel,
.user-input input:not(:focus):valid~.flabel {
  top: 0px;
  left: 10px;
  font-size: 14px;
  opacity: 1;
}

@keyframes fadeIn {
  from {opacity: 0; margin-top: 100px;}
  to {opacity: 1; margin-top: 0px;}
}


@media (min-width:576px) {

  .bg-light{
    /* background-color: red; */
    background-image: url("../images.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: var(--text-white);
    height: 100vh;
    /* width: 100vw; */
    /* background: url("bgweb.jpg") center cover no-repeat scroll border-box; */
  }

  .address>i{
color: var(--text-white);
  }

  .aboutme {
    padding-top: 15vh;
    text-align: left !important;
  } 

  .aboutme>h2{
    color: var(--text-white);
  }

  .bio.col-sm>h1{
    display: none;
  }

  .border-bottom{
    display: none;
  }

  .col-md {
      flex: 0 0 auto;
      width: 50%;
  }

  .contact{
    max-width: 100vw;
  }

  .desktop{
    display: block;
  }

  .desk-list>a{
    transition: color 0.3s;
    transition: background-color 0.2s;
    transition-delay: color 0.1s;
  }

  .desk-list>a:hover{
    color: var(--text-white);
    background-color: var(--text-teal);
  }

  .mobile{
    display: none;
  }

  .nav-grid{
    padding-top: 10px;
  }

}

@media (max-width: 752px){
  
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}

@media (min-width: 752px){
  /* .contact-page{
    overflow: hidden;
  } */
  .aboutme>.content-paragraph, .aboutme>h2{
    text-align: left;
  }
  .bio>img{
    margin-left: -13rem;
    margin-top: 24.5%;
  }
  .bio-contact{
    margin: 0px;
    padding-left: 0px;
    padding-top: 15px;
  }

.education-level{
display: flex;
column-gap: 8px;
}

  .contact{
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-grid{
    padding-top: 1.5rem;
  }
  .mx-auto {
    width: 70%;
    margin: auto;
}
  .mygoal>.content-paragraph{
    line-height: 1.5;
  }
  .mygoal{
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }

}
